<!DOCTYPE html>
<html>
<head>
  <title><%= @name || 'Nayru' %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">
</head>
<body>

<%= yield %>

</body>
</html>
